<div>

  <app-specialization-icon *ngIf="specialization" [specialization]="specialization" [showLabel]=true
    class="character-icon"></app-specialization-icon>

  <mat-divider *ngIf="character.age && specialization"></mat-divider>

  <div *ngIf="character.age" class="skill-header">
    <mat-icon>cake</mat-icon>
    Alter
  </div>
  <div>
    <p>{{character.age}}</p>
  </div>

  <mat-divider *ngIf="character.birthday"></mat-divider>

  <div *ngIf="character.birthday" class="skill-header">
    <mat-icon>date_range</mat-icon>
    Geburtstag
  </div>
  <div>
    <p>{{character.birthday}}</p>
  </div>

  <mat-divider *ngIf="character.mbti"></mat-divider>

  <div *ngIf="character.mbti" class="skill-header">
    <mat-icon>add_reaction</mat-icon>
    MBTI-Typ
  </div>
  <div>
    <p>{{character.mbti}}</p>
  </div>

</div>