:host {
  display: flex;
  flex: 1;
}

mat-list-item {
  display: flex;
  height: auto;
}

.skill-header:first-child {
  padding-top: 0;
}

.skill-header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;

  .mat-icon {
    margin-right: 10px;
  }
}
