form {
    padding: 12px;
}

.mat-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    p {
        font-weight: 500;
    }
}

.result-button {
    margin-bottom: 16px;
}

mat-radio-button {
    display: flex;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;

    .option-text {
        white-space: normal;
    }

    span {
        white-space: normal;
    }
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
}

.spoiler-image {
    height: 250px;
    max-width: 1000px;
    object-fit: cover;
    width: 100%;
}

.question-heading {
    color: rgb(3, 83, 83);
    font-weight: 500;
    margin-top: 1em;
}