.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 12px;
}

@media screen and (max-width: 500px) {
  .container {
    display: block;
  }
}