@font-face {
    font-family: 'Taemina';
    src: url('../../../../assets/font/Taemina-Regular.ttf') format('truetype');
    font-weight: bold;
}

.mahoa {
    font-size: 20pt;
    font-family: 'Taemina';
}

.mat-table {
    width: 100%;
}

h3 {
    padding: 12px;
    margin: 0;
}