<app-page-content-header [showBackButton]="false">Vokabular</app-page-content-header>

<h3>Nomen</h3>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h3>Verben</h3>

<table mat-table [dataSource]="verbDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="verbColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: verbColumns;"></tr>
</table>

<h3>Adjektive</h3>

<table mat-table [dataSource]="adjectiveDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="adjectiveColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: adjectiveColumns;"></tr>
</table>

<h3>Farben</h3>

<table mat-table [dataSource]="colorDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colorColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: colorColumns;"></tr>
</table>

<h3>Richtungen</h3>

<table mat-table [dataSource]="directionDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="directionColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: directionColumns;"></tr>
</table>

<h3>Tiere</h3>

<table mat-table [dataSource]="animalDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="animalColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: animalColumns;"></tr>
</table>

<h3>Weitere</h3>

<table mat-table [dataSource]="otherDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef> Wort </th>
        <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translation">
        <th mat-header-cell *matHeaderCellDef> Übersetzung </th>
        <td mat-cell *matCellDef="let element"> {{element.translation}}</td>
    </ng-container>

    <ng-container matColumnDef="meaning">
        <th mat-header-cell *matHeaderCellDef> Mahoa-Darstellung </th>
        <td mat-cell *matCellDef="let element" class="mahoa"> {{element.translation.toUpperCase()}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="otherColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: otherColumns;"></tr>
</table>