<app-page-content-header [showBackButton]="false">Essen und Getränke</app-page-content-header>

<img class="potion-image" src="assets/img/consumables/pink-potion.webp" alt="Pink Poton Image">

<app-card heading="Bienenblume">
    Eine Blume mit einem großen Blütenkelch, der abwechselnd schwarze und gelbe Blütenblätter hat. Die Blütenblätter
    enthalten ein leichtes Gift, das aber in geringen Dosen heilsam wirkt, weshalb sie in der Trankbraukunst und in der
    Kochkunst geschätzt wird.
</app-card>

<app-card heading="Blütenlimonade">
    Eine spritzig blubbernde, leicht süßliche rosafarbene Limonade.
</app-card>

<app-card heading="Elfflakes">
    Wie Müsli.
</app-card>

<app-card heading="Eztok">
    Eine schleimige, lokale Frühstücksspezialität. Sie wird aus der Nutzpflanze Eztolizis hergestellt, die in trockenen
    Gebieten mit viel spiritueller Energie wächst.
</app-card>

<app-card heading="Glibberpudding">
    Wie Wackelpudding, aber viel glitschiger. Wird aus dem Glibberbaum hergestellt, einem großen, glitschigen Baum, der
    nachwächst, egal, wie man ihn verwundet.
</app-card>

<app-card heading="Harmoniefrucht">
    Eine blaue Zitrusfrucht mit gelben, sternförmigen Kernen.
</app-card>

<app-card heading="Letternauflauf">
    Ein scharfer Auflauf mit Runenförmigen Nudeln.
</app-card>

<app-card heading="Mondscheingetränk">
    Wird aus der sagenumwobenen Mondscheinblüte hergestellt und wirkt energetisierend auf magische Geschöpfe. Für alle
    anderen Geschöpfe ist es sehr giftig.
</app-card>

<app-card heading="Sahne-Kröten-Torte">
    Eine Torte, aus einer quakenden, krötenförmigen Pflanze, die süßlich schmeckt. Oben drauf ist eine Schicht Sahne.
</app-card>

<app-card heading="Sonnenfrucht">
    Eine süßlich schmeckende orangefarbene Frucht mit glatter Oberfläche und Kanten. So beliebt in der magischen Welt
    wie ein Apfel.
</app-card>

<app-card heading="Sternglanzgemüse">
    Eine Art Chili con Carne.
</app-card>

<app-card heading="Traumküchlein">
    Eine Art kleines, rundes Pizzabrötchen.
</app-card>

<app-card heading="Tupfenkuchen">
    Ein Dessert.
</app-card>

<app-card heading="Zimtbeercreme">
    Ein Dessert.
</app-card>

<app-card heading="Zimtbeertee">
    Ein Heißgetränk.
</app-card>

<app-card heading="Zitronengurke">
    Eine Grün-gelb gestreifte Gurke, deren Geschmack eine Mischung aus Zitrone und eingelegter Essiggurke ist.
</app-card>