img,
svg {
    display: flex;
    min-width: 90%;
    height: auto;
    width: 100%;
    padding: 16px;
}

svg a {
    fill: rgb(227, 155, 82);
    fill-opacity: 0;
    stroke: rgb(175, 118, 61);
    stroke-width: 3px;
    opacity: 0.9;

    &:hover {
        cursor: pointer;
        fill-opacity: 0.3;
    }
}

.map-tooltip {
    background-color: #f5efe7f0;
    border: 1px solid #d1aa3c;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #969696;
    display: inline-block;
    margin: 1em;
    max-width: 200px;
    padding: 8px;
    position: absolute;
    text-align: center;
}