:host {
  display: flex;
  flex: 1 1 auto;
  margin: 5px;
}

mat-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 200px;
  padding: 16px;
}

.taemina-card-header {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 15px;
  margin: 0;

  .mat-icon {
    margin-right: 10px;
  }
}

.card-content {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .card-content {
    justify-content: center;
  }
}