<div class="card-container">
    <mat-card routerLink="/common/test">
        <mat-card-content>
            <h3>
                Charakter-Test
            </h3>
            Welcher Charakter bist du?
        </mat-card-content>
    </mat-card>
    <mat-card routerLink="/world/map">
        <mat-card-content>
            <h3>
                Weltkarte
            </h3>
            Erkunde die Welt Ekylia auf einer Karte.
        </mat-card-content>
    </mat-card>
    <mat-card routerLink="/characters">
        <mat-card-content>
            <h3>
                Charaktere
            </h3>
            Finde mehr über deinen Lieblingscharakter heraus.
        </mat-card-content>
    </mat-card>
</div>