:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.mat-raised-button {
  margin: 8px;
}

.button-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

h2 {
  margin-bottom: 0;
  margin-top: 16px;
}

h3 {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 16px;
}

p:first-child {
  margin-top: 16px;
}


.mat-list-item {
  height: auto;
}

.rounded-avatar {
  max-width: 30px;
}

app-page-content-header+p {
  padding: 12px;
}

.mat-tab-group {
  padding: 12px;
}