<app-page-content-header [showBackButton]="false">Artefakte</app-page-content-header>

<app-card-container>
    <app-card>
        <div class="artifact-card">
            <app-avatar image="assets/img/misc/manatraene.jpg" alternative="Manaträne"></app-avatar>
            <div class="text-wrapper">
                <h1>Manaträne</h1>
                <p>Mitgefühl</p>
            </div>
        </div>
    </app-card>

    <app-card>
        <div class="artifact-card">
            <app-avatar image="assets/img/misc/manastern.jpg" alternative="Manaträne"></app-avatar>
            <div class="text-wrapper">
                <h1>Manastern</h1>
                <p>Leben</p>
            </div>
        </div>

    </app-card>

    <app-card>
        <div class="artifact-card">
            <app-avatar image="assets/img/misc/manaherz.jpg" alternative="Manaherz"></app-avatar>
            <div class="text-wrapper">
                <h1>Manaherz</h1>
                <p>Wunsch</p>
            </div>
        </div>

    </app-card>

    <app-card>
        <div class="artifact-card">
            <app-avatar image="assets/img/misc/manaring.jpg" alternative="Manaring"></app-avatar>
            <div class="text-wrapper">
                <h1>Manaring</h1>
                <p>Realität</p>
            </div>
        </div>
    </app-card>
</app-card-container>